.new-todo{
	margin-top: 30px;
}

.padding-15{
	padding: 0px 15px;
}

.table-heading{
	background-color: #222;
	color: #fff;
}
.table>tbody>tr.table-heading>th{
	padding: 20px 10px;
	border-top-width: 0px;

}
.table{
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;

}
.table-hover>tbody>tr.table-heading:hover {
	color: #fff;
	background-color: #222;	
}


.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    border-radius: 0px;
}

.nav-custom {
	padding: 0px 16px;
}

.nav-justified {
    width: 100%;
    border: 1px solid #2C3E50;
}

.uncomplete{
	background-color: #BDC1C1
}

.single-note{
	margin-bottom: 25px;
}

.single-note:hover .delete_note{
	opacity: 1;
}
.delete_note{
	color: #DA0E0E;
    border: none;
    position: relative;
    right: 0px;
    top: -2px;
    background: none;
    opacity: 0;
    transition: all 0.2s ease;
}

.delete_note:hover{
	background: #DA0E0E;
	color: #fff;
	border-radius: 50px;
}

textarea.form-control{
	height: 100px !important;
}